In [ ]:
import numpy as np
import pandas as pd
import glob
import time
import pandas as pd
import os
import matplotlib.pyplot as plt
import keras
import cv2

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Modified_SQL_Dataset.csv')

In [ ]:
df.head()

                                               Query  Label
0                  " or pg_sleep  (  __TIME__  )  --      1
1  create user name identified by pass123 tempora...      1
2   AND 1  =  utl_inaddr.get_host_address   (    ...      1
3   select * from users where id  =  '1' or @ @1 ...      1
4   select * from users where id  =  1 or 1#"  ( ...      1

In [ ]:
# Get Sentences data from data frame
sentences=df['Query'].values
sentences[101]

'1234 " AND 1  =  0 UNION ALL SELECT "admin", "81dc9bdb52d04dc20036dbd8313ed055'

In [ ]:
print(len(sentences))

30919

In [ ]:
# Convert to ASCII

def convert_to_ascii(sentence):
    sentence_ascii=[]

    for i in sentence:
        
        
        """Some characters have values very big e.d 8221 adn some are chinese letters
        I am removing letters having values greater than 8222 and for rest greater 
        than 128 and smaller than 8222 assigning them values so they can easily be normalized"""
       
        if(ord(i)<8222):      # ” has ASCII of 8221
            
            if(ord(i)==8217): # ’  :  8217
                sentence_ascii.append(134)
            
            
            if(ord(i)==8221): # ”  :  8221
                sentence_ascii.append(129)
                
            if(ord(i)==8220): # “  :  8220
                sentence_ascii.append(130)
                
                
            if(ord(i)==8216): # ‘  :  8216
                sentence_ascii.append(131)
                
            if(ord(i)==8217): # ’  :  8217
                sentence_ascii.append(132)
            
            if(ord(i)==8211): # –  :  8211
                sentence_ascii.append(133)
                
                
            """
            If values less than 128 store them else discard them
            """
            if (ord(i)<=128):
                    sentence_ascii.append(ord(i))
    
            else:
                    pass
            

    zer=np.zeros((10000))

    for i in range(len(sentence_ascii)):
        zer[i]=sentence_ascii[i]

    zer.shape=(100, 100)


#     plt.plot(image)
#     plt.show()
    return zer

In [ ]:
# send each sentence to be converted to ASCII


arr=np.zeros((len(sentences),100,100))

for i in range(len(sentences)):
    
    image=convert_to_ascii(sentences[i])

    x=np.asarray(image,dtype='float')
    image =  cv2.resize(x, dsize=(100,100), interpolation=cv2.INTER_CUBIC)
    image/=128

    
#     if i==1:
#         plt.plot(image)
#         plt.show()    
    arr[i]=image

In [ ]:
print("Input data shape : ", arr.shape)

Input data shape :  (30919, 100, 100)

In [ ]:
# Reshape data for input to CNN
data = arr.reshape(arr.shape[0], 100, 100, 1)

In [ ]:
data.shape

(30919, 100, 100, 1)

In [ ]:
y=df['Label'].values

In [ ]:
# Split into train/test data
from sklearn.model_selection import train_test_split
trainX, testX, trainY, testY = train_test_split(data,y, test_size=0.2, random_state=42)

In [ ]:
# import libraries for Making Model
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense, Activation, Conv2D, MaxPooling2D,Flatten,Dropout,MaxPool2D, BatchNormalization

In [ ]:
# A basic CNN Model
# Number of layers = 11
# Number of Convolutional layer: 3

model=tf.keras.models.Sequential([
    
    tf.keras.layers.Conv2D(64,(3,3), activation=tf.nn.relu, input_shape=(100,100,1)),
    tf.keras.layers.MaxPooling2D(2,2),
    
    tf.keras.layers.Conv2D(128,(3,3), activation='relu'),
    tf.keras.layers.MaxPooling2D(2,2),
    
    tf.keras.layers.Conv2D(256,(3,3), activation='relu'),
    tf.keras.layers.MaxPooling2D(2,2),
    
    tf.keras.layers.Flatten(),
    tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
    
])

In [ ]:
model.compile(loss='binary_crossentropy', 
              optimizer='adam', 
              metrics=['accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 98, 98, 64)        640

 max_pooling2d (MaxPooling2D  (None, 49, 49, 64)       0
 )

 conv2d_1 (Conv2D)           (None, 47, 47, 128)       73856

 max_pooling2d_1 (MaxPooling  (None, 23, 23, 128)      0
 2D)

 conv2d_2 (Conv2D)           (None, 21, 21, 256)       295168

 max_pooling2d_2 (MaxPooling  (None, 10, 10, 256)      0
 2D)

 flatten (Flatten)           (None, 25600)             0

 dense (Dense)               (None, 256)               6553856

 dense_1 (Dense)             (None, 128)               32896

 dense_2 (Dense)             (None, 64)                8256

 dense_3 (Dense)             (None, 1)                 65

=================================================================
Total params: 6,964,737
Trainable params: 6,964,737
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Stop when validation accuracy > 97

class myCallback(tf.keras.callbacks.Callback):
    def on_epoch_end(self, epoch, logs={}):
        if(logs.get('val_accuracy')>0.97):
            print(" \n Reached 97% + validation accuracy")
            self.model.stop_training=True
callbacks = myCallback()

In [ ]:
batch_size = 128
num_epoch = 10
#model training
model_log = model.fit(trainX, trainY,
          batch_size=batch_size,
          epochs=num_epoch,
          verbose=1,
          validation_data=( testX,  testY)
#                        callbacks=[callbacks]
                     )

Epoch 1/10
194/194 [==============================] - 1517s 8s/step - loss: 0.0763 - accuracy: 0.9759 - val_loss: 0.0363 - val_accuracy: 0.9898
Epoch 2/10
194/194 [==============================] - 1489s 8s/step - loss: 0.0399 - accuracy: 0.9872 - val_loss: 0.0321 - val_accuracy: 0.9911
Epoch 3/10
194/194 [==============================] - 1526s 8s/step - loss: 0.0271 - accuracy: 0.9920 - val_loss: 0.0261 - val_accuracy: 0.9914
Epoch 4/10
194/194 [==============================] - 1558s 8s/step - loss: 0.0266 - accuracy: 0.9925 - val_loss: 0.1004 - val_accuracy: 0.9741
Epoch 5/10
194/194 [==============================] - 1604s 8s/step - loss: 0.0272 - accuracy: 0.9924 - val_loss: 0.0261 - val_accuracy: 0.9932
Epoch 6/10
194/194 [==============================] - 1586s 8s/step - loss: 0.0215 - accuracy: 0.9942 - val_loss: 0.0236 - val_accuracy: 0.9958
Epoch 7/10
194/194 [==============================] - 1558s 8s/step - loss: 0.0225 - accuracy: 0.9940 - val_loss: 0.0318 - val_accuracy: 0.9913
Epoch 8/10
194/194 [==============================] - 1557s 8s/step - loss: 0.0207 - accuracy: 0.9943 - val_loss: 0.0217 - val_accuracy: 0.9956
Epoch 9/10
194/194 [==============================] - 1514s 8s/step - loss: 0.0170 - accuracy: 0.9958 - val_loss: 0.0220 - val_accuracy: 0.9951
Epoch 10/10
194/194 [==============================] - 1452s 7s/step - loss: 0.0175 - accuracy: 0.9960 - val_loss: 0.0349 - val_accuracy: 0.9903

In [ ]:
# predict for test set
pred=model.predict(testX)

194/194 [==============================] - 91s 467ms/step

In [ ]:
# Threshold values predicted

for i in range(len(pred)):
    if pred[i]>0.5:
        pred[i]=1
    elif pred[i]<=0.5:
        pred[i]=0

In [ ]:
# Count True predicted and wrong predicted

true=0
false=0

for i in range(len(pred)):
    if pred[i] == testY[i]:
        true+=1
    else:
        false+=1
        
print("correct predicted :: ", true)
print("false prediction :: ", false)

correct predicted ::  6124
false prediction ::  60

In [ ]:
# Number of attack and benign data in test set

attack=0
benign=0
for i in range(len(testY)):
    if testY[i]==1:
        attack+=1
    else:
        benign+=1

print("Attack data in test set :: ", attack)
print(" Benign data in test set :: ", benign)

Attack data in test set ::  2291
 Benign data in test set ::  3893

In [ ]:
# Takes True positive, true negative, false positive and false negative as input
# Returns Accuracy

def accuracy_function(tp,tn,fp,fn):
    
    accuracy = (tp+tn) / (tp+tn+fp+fn)
    
    return accuracy
# Takes True Positive and false positive
# Returns Precision

def precision_function(tp,fp):
    
    precision = tp / (tp+fp)
    
    return precision
#Takes True Positive and false negative
# Returns Recall

def recall_function(tp,fn):
    
    recall=tp / (tp+fn)
    
    return recall
#Takes true values and predicted
# Returns Accuracy, precision and recall


def confusion_matrix(truth,predicted):
    
    true_positive = 0
    true_negative = 0
    false_positive = 0
    false_negative = 0
    
    for true,pred in zip(truth,predicted):
        if true == 1:
            if pred == true:
                true_positive += 1
            elif pred != true:
                false_negative += 1

        elif true == 0:
            if pred == true:
                true_negative += 1
            elif pred != true:
                false_positive += 1
            
    accuracy=accuracy_function(true_positive, true_negative, false_positive, false_negative)
    precision=precision_function(true_positive, false_positive)
    recall=recall_function(true_positive, false_negative)
    
    return (accuracy,
            precision,
           recall)
accuracy,precision,recall=confusion_matrix(testY,pred)
print(" Accuracy : {0} \n Precision : {1} \n Recall : {2}".format(accuracy, precision, recall))

 Accuracy : 0.9902975420439845
 Precision : 0.9982134881643591
 Recall : 0.975556525534701

In [ ]:
import h5py
model.save('sqli.h5')